@font-face {
  font-family: 'VG5000';
 src: url(https://livecoding5mars.github.io/VG5000/VG5000-Regular.otf) format("opentype"), 
        url(https://livecoding5mars.github.io/VG5000/VG5000-Regular_web.eot),     
       url(https://livecoding5mars.github.io/VG5000/VG5000-Regular_web.woff2) format("woff2"), 
       url(https://livecoding5mars.github.io/VG5000/VG5000-Regular_web.woff) format("woff"), 
        url(https://livecoding5mars.github.io/VG5000/VG5000-Regular_web.otf) format("opentype");
  
}


#imageprofil {
    float: center;
    border: 19px ridge DarkBlue;
    background-color: WhiteSmoke;
    margin: 5% 5% 5% 5%;
    padding: 0px;
    width: 50%;
    box-shadow: 2px 2px 12px #555;
}

body {
  float : center;
  font-family: 'VG5000';
   font-weight: normal;
   font-style: normal;    font-stretch: ultra-condensed;  
    font-size: 1em;
  
}

.boxartiste {
    float: center;
      border: 19px ridge yellow;
      background-color: WhiteSmoke;
      margin: 5% 5% 5% 5%;
    padding: 30px;
    width: 50%;
    box-shadow: 2px 2px 12px #555;
}

.artiste {
    font-size: x-large;
    color: DarkBlue;
}

.bio {
  color: DarkBlue;
  font-size: medium;
  text-shadow: yellow 1px 0 10px;

}

.lien {
  color: DarkBlue;
  font-size: medium;
  text-shadow: DarkBlue 1px 0 10px;  
}
