@font-face {
  font-family: 'VG5000';
 src: url(https://ralt144mi.github.io/VG5000/VG5000-Regular.otf) format("opentype"), 
        url(https://ralt144mi.github.io/VG5000/VG5000-Regular_web.eot),     
       url(https://ralt144mi.github.io/VG5000/VG5000-Regular_web.woff2) format("woff2"), 
       url(https://ralt144mi.github.io/VG5000/VG5000-Regular_web.woff) format("woff"), 
        url(https://ralt144mi.github.io/VG5000/VG5000-Regular_web.otf) format("opentype");
  
}



#imageprofil {
    float: center;
    border: 19px ridge LightBlue;
    background-color: WhiteSmoke;
    margin: 5% 5% 5% 5%;
    padding: 0px;
    width: 50%;
    box-shadow: 2px 2px 12px #555;
}

body {
  float : center;
  font-family: 'VG5000';
   font-weight: normal;
   font-style: normal;    font-stretch: ultra-condensed;  
    font-size: 1em;
  
}

.boxartiste {
    float: center;
      border: 19px ridge RoyalBlue;
      background-color: WhiteSmoke;
      margin: 5% 5% 5% 5%;
    padding: 30px;
    width: 50%;
    box-shadow: 2px 2px 12px #555;
}

.artiste {
    font-size: x-large;
    color: Black;
}

.bio {
  color: Black;
  font-size: medium;
  text-shadow: LightBlue 1px 0 10px;

}

.lien {
  color: DarkBlue;
  font-size: medium;
  text-shadow: DarkBlue 1px 0 10px;  
}


.container{
  height:100%;
  display: flex;
  justify-content:center;
  align-items : center;
  flex-wrap:wrap;
  margin-bottom : 25%;
}

.card {
  perspective : 100%;
  position: relative;
  margin:5px;
}

.card img{
  width : 900px;
}

.card .back {
  position: absolute;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transition : transform 0.4s linear;
}

.card .front {
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition : transform 0.4s linear;
}

.card:hover .back {
  transform: rotateY(-180deg);
  cursor:pointer;
}

.card:hover .front {
  transform: rotateY(0deg);
  cursor:pointer;
}


